.board-list-item-image-box {
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.board-list-item-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}